.cuerpo{
 background-image: url(imagenes/fondoregalo3.jpeg);
background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
